*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(240, 238, 238);
}

.accordion_wrapper{
    width: 70%;
    background: #fff;
    padding: 50px;
    margin: 20px auto 0px;
    border-radius: 5px;
}
.accordion{
    margin-bottom: 20px;
}
.accordion__heading{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 4px;
}
.accordion__heading h3{
    font-size: 16px;
    cursor: pointer;
}

.accordion__content.show{
    display: block;
    opacity: 1;
    visibility: visible;
}
.accordion__content{
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;

    visibility: hidden;
    opacity: 0;
    display: none;
    animation: fade .4s linear;
}

@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}

.accordion__content h3{
    margin-bottom: 15px;
}
.accordion__content p{
    line-height: 1.5;
}

